#page {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 0.1fr;
    grid-template-areas: "side main";
}

aside {
    grid-area: side;
    padding: 10px;
}

.cat {
    font-size: 1.5em;
    margin: 10px 0px 5px 0px;
}

.results {
    font-size: 0.8em;
    margin: 5px 0px 30px 0px;
    color: rgb(143, 143, 143);
}

.high {
    font-size: 1.1em;
    font-weight: bold;
    margin: 30px 0px 10px 0px;
}

.lav {
    font-size: 1em;
    color: rgb(90, 90, 90);
}

.qunt {
    font-size: 0.8em;
    color: gray;
    font-weight: 400;
}

.more {
    font-size: 0.8em;
    color: rgb(64, 157, 194);
}

.lav,
.more {
    cursor: pointer;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

article {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: fit-content;
    height: fit-content;
}

article img {
    border-radius: 5px;
}

.separator {
    border: 1px solid gray;
    margin: 10px 0px 10px 0px;
}

.artTitle {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.artPrice {
    font-size: 0.9em;
    margin: 0;
    color: gray;    
}