table, td, tr, th {
    text-align: center;
    padding: 10px;

    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    font-weight: bolder;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 50px;
}

main {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas:
      ". title ."
      ". text ."
      ". table .";
}

table {
    grid-area: table;
    margin-top: 20px;
}

#texto {
    grid-area: text;
}

#title {
    grid-area: title;
}

