/* :root {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
}

.navBtn {
  background-color: transparent;
  border: 0px;
  font-size: 1.2em;
}

#logo {
  height: 100px;
}

header {
  display: flex;
  justify-content: center;

  color: #fff;
  background-color: black;
}

header p {
  margin: 10px;
}

header p strong a {
  color: #fff;
} */

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px 0.1fr 130px 700px 100px 250px 100px;
  grid-template-areas:
    ". . ."
    ". welcome ."
    ". . ."
    ". slider ."
    ". . ."
    "stats stats stats"
    ". . .";
}

#welcome {
  grid-area: welcome;

  display: flex;
  flex-direction: row;
  gap: 50px;
}

#video {
  border-radius: 20px;
  border: 2px solid black;
}

.welcomeTitle {
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 30px;
}

.welcomeDesc {
  font-size: 1.1em;
  line-height: 1.6;
}

.welcomeBtn {
  font-family: "Poppins", sans-serif;
  padding: 10px 40px 10px 40px;
  margin-top: 10px;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-size: 1.1em;
}

#welcomeBtn :hover {
  box-shadow: 0px 0px 10px black;
}

#carouselExampleIndicators {
  grid-area: slider;
}

.card-price {
  color: rgb(151, 151, 0);
  font-weight: bold;
}

.card-group {
  display: flex;
  gap: 15px;
}

#stats {
  grid-area: stats;

  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  vertical-align: middle;
  text-align: center;

  background-color: rgb(24, 24, 24);
}

.stat img {
  height: 150px;
  margin: 25px;
}

.stat p {
  font-size: 1.2em;
  margin: 0px;
  color: #fff;
}

.iconify {
  font-size: 150px;
  margin: 25px;
  color: #fff;
}

.carousel-control-prev {
  display: block;
  margin-top: 20%;
}

.carousel-control-next {
  display: block;
  margin-top: 20%;
  float: right;
}