:root {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
}

.navBtn {
  background-color: transparent;
  border: 0px;
  font-size: 1.2em;
  cursor: pointer;
}

#logo {
  height: 100px;
}

header {
  display: flex;
  justify-content: center;

  color: #fff;
  background-color: black;
}

header p {
  margin: 10px;
}

header p strong a {
  color: #fff;
}