main {
  display: grid;
  grid-template-rows: 50px 0.1fr 0.1fr 100px;
  grid-template-columns: 150px 1fr 50px 1fr 150px;
  grid-template-areas:
    ". . . . ."
    "title title title title title"
    ". ny . london ."
    ". . . . .";
}

#title {
    grid-area: title;
}

#ny {
    grid-area: ny;
}

#london {
    grid-area: london;
}

iframe {
  text-align: center;
  width: 750px;
  height: 550px;
  border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 2em;
}

.sub {
    text-align: center;
    margin-top: 25px;
    font-size: 1.5em;
}

.phone {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 1.2em;
}

#sep {
    width: 82%;
    height: 1px;
    background-color: black;
}