:root {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
}

nav {
  grid-area: nav;
  text-align: center;
}

#offers {
  grid-area: offers;
  background-color: black;
  color: white;
  text-align: center;
}

#offers p {
  margin: 5px;
}

#offers p a {
  color: white;
}

#content {
  grid-area: conten;
}

#page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 5fr 5fr;
  grid-template-areas:
    "nav"
    "offers"
    "conten"
    "artdest";
}

#logo {
  height: 100px;
  margin: 5px;
  margin: 0px 20px 0px 20px;
}

.headerBtn {
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  border: 0px;
  font-size: 1.4em;
}

#video {
  grid-area: video;
  height: 360px;
  margin: 0 auto;
  border-radius: 20px;
  border: black 2px solid;
}

#homeT {
  grid-area: title;
}

.homeTitle {
  font-size: 2em;
  margin: 30px 0px 20px 0px;
  letter-spacing: 2px;
}

#desc {
  grid-area: desc;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

#catbtn {
  grid-area: catbtn;
}

#catbtn button {
  font-family: "Poppins", sans-serif;
  padding: 10px 40px 10px 40px;
  margin-top: 10px;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-size: 1.1em;
}

#videoFrm {
  height: 360px;
  width: 65%;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
    "video title"
    "video desc"
    "video catbtn";
}

#artdest {
  grid-area: artdest;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "art1 art2 art3 art4"; */
  
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;

  /* border: 1px solid black; */
}

/* #art1 {
  grid-area: art1;
}

#art2 {
  grid-area: art2;
}

#art3 {
  grid-area: art3;
}

#art4 {
  grid-area: art4;
} */

/* .article img {
  width: 200px;
  border-radius: 15px;
  border: solid black 1px;
  margin: 10px;
}

.article {
  border: solid black 1px;
  border-radius: 20px;
  width: 220px;
  height: 420px;
  background-color: white;
}

.artdest {
  width: 80%;
}

.artText {
  margin-left: 10px;
} */

.card-text {
  color: rgb(151, 151, 0);
  font-weight: bold;
}

/* .carousel-item {
} */

.card-group {
  /* margin: 15px; */
  display: flex;
  gap: 15px;
  flex-grow: 1;
}

/* .card {
  margin: 10px;
} */


